@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #050507;
  color: #fff;
  overscroll-behavior-y: contain;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: #00e5ff;
  color: #050507;
}
